* {
    padding: 2px;
    margin: auto;
}

h1 {
    background-color: #79A0C6;
    text-align: center;
    color: #AB141D;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 30px;
    padding: 9px;


}

nav a:hover {
    text-decoration: underline;
}

nav a {
    flex: 1 1 100%;
    text-decoration: none;
    flex: auto;
    text-align: center;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 4px;
}

nav li{
    flex: 1 1 100%;
    padding: 2px ;
    margin: 0;
    display: flex;
}

#image {
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../afbeeldingen/basis.jpg);
    
}

#primair {
    display: block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
    
}

p{
    font-size: 16px;
    line-height: 24px;
    background-color: whitesmoke;
    color: black;
    padding: 10px;
}
#container {
    background-color: white;
    color: #000;
}

nav a {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 3px 15px;
    background-color: whitesmoke;
    color: black;

}

h2 {
    padding: 10px ;
    color: #A61417; 
    
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}

footer {
    text-align: right;
    font-weight: bold;
    padding: 10px;
}

#gaming {
    display: none;
}

#luxe {
    display: none;