* {
    padding: 10;
    margin: 0;
}

h2,
p {
    padding: 10px 0px;
}

#image {
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../afbeeldingen/basis.jpg);
}

#container {
    background-color: #D6BC98;
    color: #A5121E;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    text-align: right;
    font-weight: bold;
    padding: 10px;
}

#primair {
    display: block;
    background-color: #fff;
    color: #000;
}

#gaming {
    display: none;
}

#luxe {
    display: none;
}

body {
    font-family: ;
    font-size: ;
    line-height: ;
}
