#gaming {
    display: block;
    background-color: black;
    color: whitesmoke;
}

h2 {
    font-family: 
}
#primair {
    display: none;
}

#luxe{
    display: none;
}

#image {
    background-image: url(../afbeeldingen/medium.jpg);
}
